* {
  box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
    width: 100%;
}
body {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #192626;
    min-height: 100vh;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-animation: fade_in 1s forwards;
    animation: fade_in 1s forwards;
}
@keyframes fade_in {
    from { opacity: 0; }
    to { opacity: 1.0; }
}
a {
    -webkit-transition: color 0.25s ease, background 0.25s ease;
    -o-transition: color 0.25s ease background 0,25s ease;
    transition: color 0.25s ease, background 0.25s ease;
}
a.secondary-link,
a.secondary-link:visited {
    font-family: 'Lora', serif;
    font-style: italic;
    color: #192626;
}
a.secondary-link:focus,
a.secondary-link:hover {
    color: #192626;
    text-decoration: underline;
}
a, a:visited {
    color: #7A00FF;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
a:hover, a:focus {
    color: #6100CC;
    text-decoration: none;
}
a.disabled, a:disabled, a.diabled:hover, a:disabled:hover {
    color: rgba(0,0,0,0.4);
    cursor: default;
}
.navbar {
    background: #FFFFFF;
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    margin-bottom: 0;
    border: none;
    background-image: none;
    border-radius: 0;
}
.navbar.shadow {
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.navbar a {
    font-family: 'Lora', serif;
}
.navbar-default .navbar-brand {
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    line-height: 30px;
    height: 60px;
}
.navbar-default .navbar-brand:hover {
    color: rgba(0,0,0,0.5);
    cursor: default;
}
.navbar .container-fluid {
    max-width: 1100px;
    width: 100%;
}
.navbar-default .navbar-toggle {
    border: none;
    margin-top: 14px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: #fff;
}
.navbar-default .navbar-collapse.collapse.in,
.navbar-default .navbar-collapse.collapsing {
    background: #7A00FF;
    border-top: 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.navbar-default .navbar-collapse.collapse.in {
    height: 265px;
}
.navbar-default .navbar-collapse.collapse.in li,
.navbar-default .navbar-collapse.collapsing li {
    height: 40px;
    line-height: 40px;
}
.navbar-default .navbar-collapse.collapse.in li .dropdown-menu a,
.navbar-default .navbar-collapse.collapse.in li.active .dropdown-menu a:visited {
    line-height: 40px;
    width: 100%;
}
.navbar-default .navbar-collapse.collapse.in li a {
    width: 100%;
}
.navbar-default .navbar-collapse.collapse.in li:hover,
.navbar-default .navbar-collapse.collapse.in li:focus,
.navbar-default .navbar-collapse.collapse.in li .dropdown-menu li:hover,
.navbar-default .navbar-collapse.collapse.in li .dropdown-menu li:focus {
    background: rgba(0,0,0,0.2);
}
.navbar-default .navbar-collapse.collapse.in li.dropdown:focus,
.navbar-default .navbar-collapse.collapse.in li.dropdown:hover {
    background: transparent;
}

.navbar-default .navbar-collapse.collapse.in .navbar-nav .dropdown-menu li,
.navbar-default .navbar-collapse.collapsing .navbar-nav .dropdown-menu li {
    text-transform: none;
}

.navbar-default .navbar-collapse.collapse.in .navbar-nav .dropdown-menu li.subheader,
.navbar-default .navbar-collapse.collapsing .navbar-nav .dropdown-menu li.subheader {
    text-transform: uppercase;
}

.navbar-default .navbar-collapse.collapse.in li a,
.navbar-default .navbar-collapse.collapsing li a,
.navbar-default .navbar-collapse.collapsing li a:visited,
.navbar-default .navbar-collapse.collapse.in .navbar-nav li.active a,
.navbar-default .navbar-collapse.collapsing .navbar-nav li.active a,
.navbar-default .navbar-collapse.collapsing .navbar-nav li.active a:visited {
    color: #fff;
}

.navbar-default .navbar-collapse.collapse.in li a.project-link,
.navbar-default .navbar-collapse.collapsing li a.project-link,
.navbar-default .navbar-collapse.collapsing li a.project-link:visited,
.navbar-default .navbar-collapse.collapse.in .navbar-nav li.active a.project-link,
.navbar-default .navbar-collapse.collapsing .navbar-nav li.active a.project-link,
.navbar-default .navbar-collapse.collapsing .navbar-nav li.active a.project-link:visited {
    color: #fff;
}

.navbar-default .navbar-collapse.collapse.in .navbar-nav li.active,
.navbar-default .navbar-collapse.collapsing .navbar-nav li.active {
    border-bottom: none;
}

.navbar-nav li {
    line-height: 60px;
    height: 60px;
    vertical-align: middle;
}
.navbar-nav li a {
    background-color: transparent;
    text-shadow: none;
    display: inline-block;
    padding: 10px;
}
.navbar-nav li.active {
    border-bottom: 2px solid #7A00FF;
}
.navbar-default .navbar-nav > li > a {
    color: #192626;
}
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:visited {
    color: #192626;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #192626;
}
.navbar-default .navbar-nav li a:visited {
    color: #192626;
}
.navbar-default .navbar-nav li a:hover {
    color: #7A00FF;
    text-shadow: none;
    opacity: 1.0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
    background: transparent;
    color: #7A00FF;
}
.navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
    color: #192626;
}
.navbar-nav li .dropdown-menu li,
.navbar-default .navbar-nav li .dropdown-menu a,
.navbar-default .navbar-nav li.active .dropdown-menu a:visited {
    line-height: 1.5em;
    height: auto;
    padding: 5px 10px;
    color: #fff;
}
.navbar-default .navbar-nav li .dropdown-menu li:hover,
.navbar-default .navbar-nav li .dropdown-menu li:focus {
    background: rgba(0,0,0,0.2);
}

.navbar-nav li.dropdown:hover,
.navbar-nav li.dropdown:focus {
    background: transparent;
}
.dropdown-menu {
    background: #7A00FF;
    font-size: 16px;
    border: none;
}
.dropdown-menu li a,
.dropdown-menu li a:hover {
    background: transparent;
}
.navbar-nav li ul.dropdown-menu > li.subheader {
    color: rgba(0,0,0,0.4);
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar-nav li .dropdown-menu li.subheader:hover {
    background: transparent;
}
a.navbar-brand:hover {
    opacity: 1.0;
}
.header-img {
    padding-top: 60px;
    position: relative;
}

/* content styles */
.main-content {
    max-width: 1100px;
    width: 100%;
    margin: 120px auto 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.summary-header {
    font-size: 26px;
    line-height: 1.3em;
}

.column-content {
    font-size: 20px;
    text-align: left;
    line-height: 1.4em;
    margin: 15px 0 30px;
}
.column-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.column-content ul > li {
    margin-bottom: 30px;
}
.intro {
    font-size: 35px;
    line-height: 1.2em;
    margin-bottom: 100px;
}
.about-text {
    margin-top: 20px;
}
.card {
    background: #fff;
    border-radius: 3px;
    border: 2px solid #eaeaea;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 20px;
    height: 250px;
    margin-top: 0;

    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
a .card:hover,
a .card:focus {
    margin-top: -20px;
    border-color: #7A00FF;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
a .card:hover .cta,
a .card:focus .cta {
    color: #7A00FF;
}
.card .title {
    color: #192626;
    font-family: 'Lora', serif;
}
.card .cta {
    text-decoration: underline;

    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.qualifications {
    margin-top: 100px;
}
.portfolio {
    display: inline-block;

    -webkit-box-flex 1;
    -ms-flex: 1;
    flex: 1;
}
.portfolio :first-child .main-content {
    margin-top: 60px;
}
.portfolio .row {
    padding: 20px 0;
}
.portfolio .row:first-child {
    padding: 0;
}
h1.page-title {
    font-size: 35px;
    margin-bottom: 35px;
    line-height: 1.4em;
}
.project-intro {
    background: rgba(0,0,0,0.05);
    padding: 60px 0;
    margin-top: 60px;
}
.project-intro .main-content {
    margin-top: 0;
}
.project.title {
    display: inline-block;
    margin-bottom: 10px;
}
.project.desc {
    margin-bottom: 20px;
    max-width: 75%;
}
.project-area img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}
.project-navigation.bottom {
    margin-top: 50px;
}
.project-navigation.top {
    margin-bottom: 30px;
}
.project-navigation {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.feature {
    width: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.feature .copy {
    max-width: 529px;
    margin-right: 15px;
}
.feature .desc {
    max-width: 100%;
}
.feature .image {
    margin-right: -406px;
}
.feature .img-wrap {
    max-width: 915px;
    width: 100%;
    height: auto;
}
.img-wrap img {
    width: 100%;
    height: 100%;
}
#chatkit-sales .feature .image {
    margin-right: 0;
}
#chatkit-sales .feature .img-wrap {
    max-width: 529px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
#audience-forecasting .image,
#creative-mgmt .image {
    margin-left: -406px;
    margin-right: 0;
}
#audience-forecasting .copy,
#creative-mgmt .copy {
    margin-right: 0;
    margin-left: 15px;
}
#chatkit-website .img-wrap {
    max-width: 700px;
}
#chatkit-website .feature {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#chatkit-website .copy {
    margin-top: 75px;
}
.website-mocks .desktop .img-wrap {
    margin-bottom: 100px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.website-mocks .desktop :last-child {
    margin-bottom: 0;
}
.website-mocks .mobile.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.website-mocks .mobile .img-wrap {
    display: inline-block;
    margin-right: 35px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 342px;

    -ms-flex-item-align: start;
    align-self: flex-start;
}
.website-mocks .mobile :last-child {
    margin-right: 0;
}
.project-area .website-mocks img {
    border: none;
}
.work-images {
    padding-top: 20px;
}
.one-up {
    max-width: 815px;
}
.two-up {
    max-width: 530px;
    display: inline-block;
}
.two-up:first-child {
    margin-right: 35px;
}
.sales-mocks > div {
    margin-bottom: 35px;
}
.sales-mocks > div:last-child {
    margin-bottom: 0;
}
.contact .img-wrap img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.contact .img-wrap img {
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.contact .feature .image {
    margin: 0 0 0 35px;
    max-width: 529px;
}

img.account-page-new { max-width: 1263px; }
img.account-page-old { max-width: 1341px; }
img.datepicker-new { max-width: 1421px; }
img.tickets-new,
img.forecasting-1,
img.cross-device-2,
img.dynamic-creative,
img.rpeb-campaigns-new,
img.rpeb-nav-old {
    max-width: 2560px;
}
img.footer,
img.builder-new {
    max-width: 1421px;
}
img.builder-old { max-width: 1414px; }
img.datepicker-old, img.tickets-old,
img.notes-new, img.notes-old,
img.logs-new, img.logs-old ,
img.cross-device-1,
img.native-creative,
img.rpeb-campaigns-old,
img.rpeb-nav-new {
    max-width: 2558px;
}
img.publisher-form,
img.profile-settings {
    max-width: 600px;
}
img.forecasting-2 { max-width: 2000px; }
img.forecasting-3 { max-width: 2004px; }
img.rpeb-buttons-new { max-width: 310px; }
img.rpeb-buttons-old { max-width: 342px; }

.all-caps {
    text-transform: uppercase;
}
.title {
    font-size: 26px;
    margin-bottom: 35px;
}
.desc {
    font-size: 20px;
    max-width: 80%;
}
.desc p {
    margin-bottom: 35px;
}
.desc.no-toggle {
    margin-bottom: 20px;
}
.portfolio .title {
    margin-bottom: 15px;
}

/* pagination */
.pagination {
    font-size: 16px;
}
.img-toggle .pagination {
    /* wonky boostrap styles.. have to keep this */
}
.img-toggle .pagination > li > a {
    border: 1px solid #7A00FF;
    color: #192626;
    padding: 9px 15px;
}
.img-toggle .pagination > li:first-child > a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.img-toggle .pagination > li:last-child > a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.img-toggle .pagination > li.active > a {
    color: #fff;
    background-color: #7A00FF;
}
.img-toggle .pagination > li.active > a:hover,
.img-toggle .pagination > li.active > a:visited {
    border-color: #7A00FF;
}
footer {
    display: table;
    width: 100%;
    padding: 0 45px;
    height: 60px;
    line-height: 60px;
    margin-top: 120px;
    text-align: center;
}
.copyright {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}
.grey-background {
    background: rgba(0,0,0,0.05);
    margin-top: 70px;
}
.grey-background .main-content {
    margin-top: 50px;
}
.sans-serif {
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 1179px) {
    .main-content { padding: 0 40px; }
    .feature .image {
        margin-right: -306px;
    }
    #audience-forecasting .image,
    #creative-mgmt .image {
        margin-left: -306px;
        margin-right: 0;
    }
    .desc {
        max-width: 100%;
    }
    .project-navigation.bottom {
        padding: 0 40px;
    }
    .one-up,
    .two-up {
        max-width: 750px;
    }
    .two-up:first-child {
        margin-bottom: 35px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    #contact-area .copyright {
        margin-top: -30px;
    }
    .social-icons .contact-text {
        display: none;
    }
    .social-icons {
        text-align: center;
        line-height: normal;
        float: none;
        margin: 5px 0 10px 0;
    }
    .social-icons div {
        font-size: 14px;
    }
    .copyright {
        display: block;
        text-align: center;
        float: none;
        line-height: normal;
        font-size: 11px;
    }
    .title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .summary-header {
        font-size: 22px;
    }
    .column-content {
        font-size: 18px;
        margin: 10px 0 20px;
    }
    .desc {
        font-size: 18px;
    }
    .desc p {
        margin-bottom: 15px;
    }
    h1.page-title,
    .intro {
        font-size: 28px;
    }
    .intro {
        margin-bottom: 60px;
    }
    .qualifications {
        margin-top: 60px;
    }
    #chatkit-website .feature .image {
        margin-right: -160px;
    }
    .main-content.sales-mocks {
        margin-top: 40px;
    }
    #chatkit-sales .feature .copy {
        max-width: 650px;
        margin-right: 25px;
    }
}
@media only screen and (max-width: 599px) {
    .intro {
        font-size: 22px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    h1.page-title {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .title, .summary-header {
        font-size: 18px;
    }
    .desc, .column-content {
        font-size: 16px;
    }
    .qualifications {
        margin-top: 40px;
    }
    .card {
        margin-bottom: 15px;
        height: 200px;
    }
    a .card:hover,
    a .card:focus {
        margin-top: 0;
    }
    footer {
        margin-top: 60px;
    }
    .navbar-default .navbar-nav li .dropdown-menu a {
        padding: 0px 20px;
    }
    .navbar-nav li .dropdown-menu li {
        padding: 0;
    }
    .feature .image {
        display: none;
    }
    .contact .feature {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contact .feature .image {
        display: block;
        margin: 0 0 35px 0;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .feature .copy {
        margin: 0;
    }
    #audience-forecasting .copy,
    #creative-mgmt .copy {
        margin: 0;
    }
    .main-content {
        margin-top: 80px;
    }
    .column-content ul > li {
        margin-bottom: 15px;
    }
    .project.desc {
        max-width: 100%;
    }
    .project-intro {
        padding: 35px 0;
    }
    .project-navigation.bottom {
        margin-top: 35px;
    }
    .website-mocks .mobile.display-flex {
        display: block;
    }
    .website-mocks .mobile .img-wrap {
        margin: 0 auto 35px;
    }
    .website-mocks .mobile .img-wrap:last-child,
    .website-mocks .desktop .img-wrap:last-child {
        margin-bottom: 0;
    }
    .website-mocks .desktop .img-wrap {
        margin-bottom: 35px;
    }
    #chatkit-website .copy {
        margin-top: 0;
    }
    #chatkit-sales .feature .copy {
        margin-right: 0;
    }
}
@media only screen and (max-width: 480px) {
    .dropdown-menu {
        display: block;
        position: static;
        background-color: #6100CC;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        padding: 0;
        width: 100%;
    }
    .navbar-nav { margin-bottom: 0px; }
    .navbar-nav li ul.dropdown-menu li.subheader {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
}
@media only screen and (max-width: 360px) {
    .intro {
        font-size: 18px;
        line-height: 1.3em;
    }
}
@media only screen and (max-height: 360px) and (orientation: landscape) {
    .main-content {
        margin-top: 50px;
    }
    .project-intro {
        padding-top: 35px;
    }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
    .dropdown-menu {
        display: block;
        position: static;
        background-color: #6100CC;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        padding-bottom: 0 ;
        position: static;
        width: 100%;
    }
    .navbar-nav { margin-bottom: 0px; }
    .navbar-nav li ul.dropdown-menu li.subheader {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .navbar-default .navbar-nav li .dropdown-menu a {
        padding: 0px 20px;
    }
    .navbar-nav li .dropdown-menu li {
        padding: 0;
    }
}
